<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class='container'>
            <h1>Space Truckin</h1>
            <hr>
            <h4>Start a new game</h4>

            <form action="/new_game" method="post">
                <label for="">Enter ship name:</label>
                <input type="text" name="name" required>
                <button type="submit">To Space!</button>
            </form>
        </div>
    </body>
</html>
