<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class='container'>
            <h1 class="header-copy"><img class="header-icon" src="/img/spacetrucker2.png"> SPACE TRUCKIN <img class="header-icon" src="/img/spacetrucker.png"></h1>
            <hr>
            <h3>Start a new game:</h3>
            <br><br><br><br>
            <form action="/new_game" method="post">
                <input class='form-control start_input' type="text" name="name" required placeholder="ENTER SHIP NAME" maxlength='20'>
                <br><br><br><br>
                <button class='form-control btn btn-danger start_button' type="submit">To Space!</button>
            </form>
            <hr>
            <h5 class="footer-copy">GRENDL: General Robotics Engineering Navigation &amp; Direction Logic</h5>
        </div>
    </body>
</html>
