body {
  font-family: 'Michroma', sans-serif;
  color: white;
  background-color: black;
}

h5 {
  color: #2ECC71;
}

.row {
  height: 100px;
}

.col-xs-1 {
  width: 100px;
}

.planet-description {
  font-size: 8px;
}

.you-are-here {
  color: orange;
}

.trade_input {
    height: 15px;
    width: 50px;
    color: black;
    font-size: 8px;
}

.fill {
    height: 310px;
}

.trade_row {
    height: 310px;
}

.trade_row_top {
    padding-bottom: 185px;
}

.right {
    text-align: right;
}
