body {
  font-family: 'Michroma', sans-serif;
  color: white;
  background-color: black;
}

.header-copy, .footer-copy {
  text-align: center;
}

.planet-description {
  text-align: left;
  width: 100px;
  min-height: 100px;
  font-size: 8px;
  padding-top: 8px;
  padding-left: 8px;
  border: 1px solid #111;
}

.planet-description:hover {
  background-color: #666;
}

.you-are-here {
  color: orange;
}

.agricultural {
  color: #2ECC71;
}

.industrial {
  color: #3498DB;
}

.header-icon {
  max-height: 30px;
  color: white;
}

.player-here {
  background-color: #212F3D;
}

.trade_input {
    height: 15px;
    width: 50px;
    color: black;
    font-size: 8px;
}

.fill {
    height: 310px;
}

.trade_row {
    height: 310px;
}

.trade_row_top {
    padding-bottom: 10px;
}

.right {
    text-align: right;
}

.indent {
    margin-left: 100px;
}

.btn_main {
    height: 200px;
}

.btn_main_display {
    height: 100px;
    background-color: #2ECC71;
}

.btn_main_display:hover {
    background-color: #29b765;
}

.ship_info {
    color: #2ECC71;
}

.start_input {
    text-align: center;
}

.start_button {
    text-align: center;
    height: 200px;
}

.btn_unclickable {
    background-color: gray;
}

.btn_unclickable:hover {
    background-color: gray;
    cursor: not-allowed;
}

.fuel_btn {
    height: 100px;
}
